.container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0px clamp(1.25rem, 5vw, 3.75rem);
    margin: 0px auto;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    max-width: 1520px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.main-img__img img {
    max-width: 100%;
}

@media screen and (min-width: 767px) {
    .clients__container {
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    }

    .clients__row {
        gap: clamp(1.25rem, 8vw, 8.25rem);
    }

    .menu-burger {
        display: none;
    }

    .header__menu {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    .header__button {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
}

@media screen and (max-width: 1023px) {
    .how-it-works__block {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 767px) {
    .clients__container {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .clients__row {
        width: 100%;
        gap: clamp(1.25rem, 16vw, 8.25rem);
    }

    .header__menu {
        display: none;
    }

    .header__button {
        display: none;
    }

    .menu-burger {
        display: block;
    }
}

.cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.top-creators__creators {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.how-it-works__block {
    grid-template-columns: 1fr;
}

.how-it-works__illustration {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.how-it-works__illustration-arrow {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.clients__container {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: clamp(1.25rem, 10vw, 8.25rem);
}

.fdr {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}

.popular-collections__card-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

img {
    max-width: 100%;
}

.clients__img img {
    min-width: 100px;
    height: 100%;
}

.top-creators__creator-photo img {
    width: clamp(3.125rem, 1vw, 6.25rem);
}

.how-it-works__illustration {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.clients__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.top-creators__creators {
    gap: clamp(1.25rem, 8vw, 3.75rem);
}

.card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    min-width: 290px;
    gap: 1rem;
}

.img-data {
    gap: 1rem;
}

.cards {
    gap: 30px;
}

.menu__link {
    font-size: 14px;
    line-height: 130%;
    color: #A48EA9;
}

.autorization__login-text {
    font: 700 14px Work Sans;
}

.logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 16px;
}

.logo_txt {
    font: 900 20px Work Sans;
    color: #191825;
    line-height: 115%;
}

body {
    font-family: Work Sans, sans-serif;
    font-weight: 500;
    font-size: 24px;
    color: #F5FBF2;
    background-color: #16091B;
}

.live-auctions__card-button {
    font: 500 24px Work Sans;
    font-size: 24px;
    line-height: 150%;
    color: #FFFFFF;
}

.bg_button {
    background-color: #FFCE4E;
    color: #000000;
    font-family: Work Sans;
    font-size: clamp(18px, 1.5vw, 24px);
    font-weight: 600;
    line-height: 115%;
}

.view_button {
    background-color: rgba(28, 28, 28, 0);
    color: #F5FBF2;
    font: 500 30px Work Sans;
    line-height: 115%;
}

.button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-radius: 0;
    padding: 24px 65px;
    border: 1px solid #FFCE4E;
}

.popular-collections__card-info {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    width: 100%;
}

.img-data {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.card-bid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.card-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    gap: 2rem;
}

.card-autor {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.card-likes-icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.card-likes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 8px;
}

.creator-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.top-creators__creators-card {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}

h2 {
    font-family: Oxanium;
    font-size: 64px;
    font-weight: 700;
    line-height: 200%;
    color: #F5FBF2;
}

.top-creators__creators {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.top-creators__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 4rem;
}

.card-img-info {
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 1rem;
}

.footer__logo img {
    width: clamp(7rem, 10vw, 12.125rem);
    height: clamp(7rem, 10vw, 12.125rem);
    margin: 3.125rem;
}

.footer__block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.footer__container {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.footer__sub-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: clamp(4.375rem, 10vw, 6.25rem);
}

.footer__column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.footer__social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.footer__text {
    max-width: 400px;
}

.footer__social-img {
    width: 2.8125rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.footer__link {
    font-size: clamp(1rem, 4vw, 1.375rem);
    line-height: 252%;
}

.menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 5vw;
}